<html>
  <body>
  <h3>开始监控</h3>
      开始监控："/monitor/start/url" <br/>
      url是用户主页<br/>
      例子：/monitor/start/https://www.douyin.com/user/MS4wLjABAAAAmrmjkxbqs4nVOgQP6MgbjHcoE3R4tp_RF_i6WQjtusRrP7mn--VNRBVFRptILrv9
    <h3>查看用户作品结果</h3>
      开始监控："/monitor/queryworks/url" <br/>
      url是用户主页<br/>
      例子：/monitor/queryworks/https://www.douyin.com/user/MS4wLjABAAAAmrmjkxbqs4nVOgQP6MgbjHcoE3R4tp_RF_i6WQjtusRrP7mn--VNRBVFRptILrv9
  <h3>查看用户信息</h3>
      开始监控："/monitor/query/url" <br/>
      url是用户主页<br/>
      例子：/monitor/query/https://www.douyin.com/user/MS4wLjABAAAAmrmjkxbqs4nVOgQP6MgbjHcoE3R4tp_RF_i6WQjtusRrP7mn--VNRBVFRptILrv9
  <h3>字段含义</h3>
  <h4>用户</h4>
  	id 自增id<br/>
	mainurl 用户主页<br/>
	count 作品数量<br/>
	last_access_time 最后访问时间<br/>
  <h4>作品</h4>
  	url <br/>
	userid 哪个用户发布的<br/>
	title 作品titl<br/>
	like 点赞数<br/>
	downloadpath 视频下载地址, 跟在 http://host:ip/ 后面<br/>
	last_access_time 最近更新时间<br/>

  </body>
</html>